@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background: 18, 22, 25;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background: 18, 22, 25;
  }
}

html {
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background));
  width: 100vw;
}
